.no-split {
	display: inline-block;
}

h1,h2,h3 {
	font-family: 'Bree Serif', serif;
}
p, a {
	font-family: 'Cardo', serif;
	font-size: 18px;
}

h1 {
	font-size: 48px;
}

header {
	padding-top: 20px;
	padding-bottom: 20px;
}

#header-logo {
	height: 60px;
}

.contact-link-wrapper {
	margin-top: 15px;
}

#contact-link {
	padding: 8px 0;
	margin-top: 12px;
	color: #333;
	border-bottom: 2px solid #fff;
	-webkit-transition:background .3s ease;
	-moz-transition:background .3s ease;
	-o-transition:background .3s ease;
	transition:background .3s ease;
}
#contact-link:hover,
#contact-link:focus {
	border-bottom: 2px solid #2468a2;
	text-decoration: none;
}

#contact-link .glyphicon {
	margin-right: 8px;
	color: #ccc;
}

#section-main {
	background: #2468a2; /* Old browsers */
	background: -moz-linear-gradient(-45deg, #2468a2 0%, #3282c6 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#2468a2), color-stop(100%,#3282c6)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(-45deg, #2468a2 0%,#3282c6 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(-45deg, #2468a2 0%,#3282c6 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(-45deg, #2468a2 0%,#3282c6 100%); /* IE10+ */
	background: linear-gradient(135deg, #2468a2 0%,#3282c6 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2468a2', endColorstr='#3282c6',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

#section-main {
	padding-top: 60px;
	padding-bottom: 60px;
	margin-bottom: 40px;
}

#section-skills,
#section-tools {
	padding-top: 20px;
	padding-bottom: 40px;
}

#section-main .container {
	position: relative;
}

#description {
	color: #fff;
}

#description a{
	color: #fff !important;
}

#description h1,
#section-skills h2 {
	margin-top: 0;
	margin-bottom: 20px;
}

.work-links {
	margin-top: 80px;
}

.img-skills {
	margin-left: auto;
	margin-right: auto;
}

#hire-btn {
	display: block;
	background-color: #f86eac;
	position: absolute;
	right: 0;
	top: 50%;
	margin-top: -80px;
	width: 160px;
	height: 160px;
	border-radius: 80px;
}

.tools-text {
	line-height: 21px;
}

.tools-chart {
	height: 24px;
	margin-bottom: 7px;
}
#contact-btn {
	margin-top: 30px;
	margin-bottom: 60px;
}
#contact-btn a {
	padding: 12px 20px;
	color: #fff;
	background-color: #2468a2;
}
#contact-btn a:hover,
#contact-btn a:focus {
	text-decoration: none;
	background-color: #3589d1;
}
footer {
	color: #888;
	padding-top: 60px;
	padding-bottom: 90px;
	background-color: #efefef;
}

footer p, 
footer a {
	font-size: 14px;
	margin-bottom: 4px;
}
footer a {
	color: #555;
}
footer a:hover,
footer a:focus {
	color: #2468a2;
	text-decoration: none;
}

@media (max-width:1600px) {

}

@media (max-width:992px) {

}

@media (max-width:768px) {
	#header-logo img {
		display: block;
		margin-left: auto;
		margin-right: auto;
	}
	.contact-link-wrapper {
		width: 100%;
		margin-top: 10px;
	}
	#contact-link {
		display: block;
		width: 120px;
		text-align: center;
		margin-left: auto;
		margin-right: auto;
	}
	#section-main,
	#section-skills {
		padding-top: 30px;
		padding-bottom: 30px;
	}
	#description h1 {
		text-align: center;
		font-size: 28px;
	}
	h2 {
		font-size: 24px;
	}
	#hire-btn {
		margin-left: auto;
	    margin-right: auto;
	    position: static;
	    right: 0;
	    text-align: center;
	}
	#tools-code {
		margin-top: 50px;
	}
	.tools-text {
		text-align: center;
	}
	.tools-chart {
		margin-left: auto;
		margin-right: auto;
	}
	.img-skills {
		width: 60%;
		max-width: 140px;
	}
	footer {
		text-align: center;
		padding-top: 30px;
		padding-bottom: 30px;
	}
}