html {
  scroll-behavior: smooth;
}
body {
  font-family: Georgia, serif;
}
.no-split {
	display: inline-block;
}
h1,h2,h3,h4,h5,
.h1,.h2,.h3,.h4,.h5 {
	font-family: 'Work Sans', sans-serif;
  font-weight: 600;
}
h1, .h1 {
  font-size: 36px;
  color: #222;
}
p {
  font-size: 16px;
  line-height: 1.66;
  letter-spacing: .1px;
  color: #6e6e6e;
}
header,
footer #about {
  max-width: 960px;
}
.wrapper {
  max-width: 780px;
}
header,
.wrapper,
footer #about {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 60px;
}
header #header-logo {
  display: block;
  width: 135px;
  height: 32px;
  background-color: #fff;
  background-image: url('../img/yrmnko-logo.png');
  background-size: contain;
  background-repeat: no-repeat;
  transition: all .5s ease;
}
header #header-logo:hover,
header #header-logo:focus {
  background-image: url('../img/yrmnko-logo-invert.png');
  text-decoration: none;
  cursor: pointer;
}
header .contact-link-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
header a.nav-link {
  color: #222;
}
header a.nav-link {
  border-bottom: 2px solid transparent;
}
header a.nav-link:hover {
  text-decoration: none;
}
header a.nav-link.nav-link-selected {
  border-bottom: 1px solid #222 !important;
}
header .contact-link-wrapper a.nav-link {
  margin-left: 16px;
}
#about-me {
  padding: 100px 15px 100px;
}
#about-me .snippet {
  margin-bottom: 20px;
}
#about-me .img-skills-wrapper {
  align-items: center;
  margin-top: 60px;
}
#about-me .img-skills-wrapper .img-skills {
  width: 70px;
  margin-right: 20px;
  margin-left: 20px;
}
a:not(#header-logo) {
  color: #222;
  border-bottom: 1px solid transparent;
}
a:not(#header-logo):hover {
  color: #222;
  text-decoration: none;
  border-bottom: 1px dotted #222;
}
a:not(#header-logo):active {
  color: #222;
  text-decoration: none;
  border-bottom: 1px solid #222;
}
a.btn-download {
  display: inline-block;
  margin-top: 20px;
  margin-bottom: 10px;
}
#work .wrapper {
  margin-left: auto;
  margin-right: auto;
  padding: 100px 15px 100px 15px;
}
#work .product-img img {
  max-height: 300px;
  max-width: 300px;
  margin-left: auto;
  margin-right: auto;
}
#work .product-img img.img-metroly {
  max-height: 270px;
}
@media (max-width:768px) {
  #work .product-img img {
    margin-bottom: 35px;
  }
}
#work .h1 {
  margin-top: 0;
  margin-bottom: 5px;
}
#work .text-role {
  font-size: 95%;
  opacity: .50;
}
#work .wrapper a.project-link {
  display: inline-block;
  text-align: right;
  font-family: 'Work Sans', sans-serif;
  font-size: 16px;
  font-weight: 600;
  margin-top: 10px;
}
#work .work-1 .wrapper{
  /* border-top: 1px solid #e7e7e9; */
}
#work .work-alt {
  background-color: #f7f9fa;
}
#work .work-invert {
  background-color: #010101;
}
#work .work-invert .h1,
#work .work-invert a {
  color: #fff;
}
#work .work-invert p {
  color: #c6c6c6;
}
#work .work-invert a:hover {
  color: #fff;
  border-bottom: 1px dotted #fff;
}
footer #about {
  border-top: 1px solid #e7e7e9;
  padding: 30px 15px 60px;
}
footer p {
  font-size: 12px;
}
footer p,
footer a {
  color: #555;
}

footer p {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0;
}
@media (max-width:768px) {
  footer p {
    flex-direction: column;
  }
}

/* -- RESUME --------------------------------------------------------------- */

#resume a.resume-link {
  display: block;
  max-width: 600px;
  margin: 15px auto 80px;
  border: 1px solid #e6e6e6;
  border-radius: 2px;
}

/* -- TOOLS ----------------------------------------------------------------- */

#tools {
  /* background-color: #f7f9fa; */
}
#tools .wrapper {
  margin-left: auto;
  margin-right: auto;
  padding: 100px 15px 100px 15px;
  border-top: 1px solid #e7e7e9;
}
#tools .h2 {
  margin-top: 0;
  margin-bottom: 30px;
}
#tools .tools-single {
  margin-top: 20px;
  margin-bottom: 20px;
}
#tools .tools-single img {
  display: block;
  /* background-color: #f7f9fa; */
  height: 48px;
  width: 48px;
  margin-bottom: 18px;
  /* padding: 10px; */
}
@media (max-width:768px) {
  #tools .tools-single {
    text-align: center;
    max-width: 360px;
    margin-left: auto;
    margin-right: auto;
  }
  #tools .tools-single img {
    margin-left: auto;
    margin-right: auto;
  }
}

/* -- JUST FOR FUN ---------------------------------------------------------- */

#just-for-fun {

}
#just-for-fun .wrapper {
  margin-left: auto;
  margin-right: auto;
  padding: 100px 15px 100px 15px;
  border-top: 1px solid #e7e7e9;
}
#just-for-fun .h1 {
  margin-top: 0;
  margin-bottom: 20px;
}
#just-for-fun p a.project-link {
  margin-left: 8px;
  margin-top: 0;
}
#just-for-fun .screenshot-wrapper {
  height: 240px;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
}
#just-for-fun .tic-tac-toe-wrapper .screenshot-wrapper {
  background-color: #070237;
}
#just-for-fun .what-time-is-it-wrapper .screenshot-wrapper {
  background: linear-gradient(to right, #fd9632 50%, #323392 50%);
}
@media (max-width:768px) {
  #just-for-fun .screenshot-wrapper {
    margin-top: 50px;
  }
}
#just-for-fun .screenshot-wrapper img {
  height: 100%;
  margin: 0 auto;
}

/* -- PORTFOLIO ------------------------------------------------------------- */

#portfolio {
  margin-bottom: 100px;
}
#portfolio .company {
  margin-bottom: 20px;
}
#portfolio .text-header {
  display: block;
  font-size: 80%;
  color: #c7cad0;
  margin-bottom: 6px;
  letter-spacing: 1px;
}
#portfolio img,
#portfolio p {
  margin-bottom: 30px;
}
#portfolio img {
  border-radius: 2px;
  /* border: 1px solid #e7e7e9; */
}
