html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed,  figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;	padding: 0;	border: 0;	font-size: 100%; font: inherit; vertical-align: baseline;}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {display: block;}
body {line-height: 1;}
ol, ul {list-style: none;}
blockquote, q {quotes: none;}
blockquote:before, blockquote:after,q:before, q:after {content: '';content: none;}
table {	border-collapse: collapse;border-spacing: 0;}
textarea:focus, input:focus{ outline: none;}
/* FONT LOADS -------------------------------- */
@font-face 
{
    font-family: 'CrimsonRoman';
    src: url('fonts/crimson/Crimson-Roman-webfont.eot');
    src: url('fonts/crimson/Crimson-Roman-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/crimson/Crimson-Roman-webfont.woff') format('woff'),
         url('fonts/crimson/Crimson-Roman-webfont.ttf') format('truetype'),
         url('fonts/crimson/Crimson-Roman-webfont.svg#CrimsonRoman') format('svg');
    font-weight: normal;
    font-style: normal;
    }
  
@font-face {
    font-family: 'DroidSerifRegular';
    src: url('fonts/droid-serif/DroidSerif-Regular-webfont.eot');
    src: url('fonts/droid-serif/DroidSerif-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/droid-serif/DroidSerif-Regular-webfont.woff') format('woff'),
         url('fonts/droid-serif/DroidSerif-Regular-webfont.ttf') format('truetype'),
         url('fonts/droid-serif/DroidSerif-Regular-webfont.svg#DroidSerifRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'DroidSerifItalic';
    src: url('fonts/droid-serif/DroidSerif-Italic-webfont.eot');
    src: url('fonts/droid-serif/DroidSerif-Italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/droid-serif/DroidSerif-Italic-webfont.woff') format('woff'),
         url('fonts/droid-serif/DroidSerif-Italic-webfont.ttf') format('truetype'),
         url('fonts/droid-serif/DroidSerif-Italic-webfont.svg#DroidSerifItalic') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'JinkyRegular';
    src: url('fonts/jinky/JINKY-webfont.eot');
    src: url('fonts/jinky/JINKY-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/jinky/JINKY-webfont.woff') format('woff'),
         url('fonts/jinky/JINKY-webfont.ttf') format('truetype'),
         url('fonts/jinky/JINKY-webfont.svg#JinkyRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

/* FONTS STYLES ----------------- */
h1, h2, h3, h4, p, a
{   text-decoration:none;
    line-height:1.5;
    }

h1
{   font-family: 'CrimsonRoman' , serif;
    font-size: 42pt;
    font-weight:normal;
    color:#333333;
    line-height:1em;
    letter-spacing:.0275em;
    margin-top:10px;
    margin-bottom:10px;
    }

h2
{   font-family: 'CrimsonRoman' , serif;
    font-size: 24pt;
    font-weight:normal;
    color:#333333;
    line-height:1em;
    letter-spacing:.0275em;
    margin-top:10px;
    margin-bottom:10px;
    text-shadow:none;
    }
    
h3
{   font-family: 'CrimsonRoman' , serif;
    font-size: 21pt;
    font-weight:normal;
    color:#333333;
    line-height:0em;
    margin-top:20px;
    margin-bottom:10px;
    }
    
p, a, label, button
{   font-family: 'DroidSerifRegular' , serif;
    font-size: 11pt;
    font-weight:normal;
    color:#444444;
    letter-spacing:.05em;
    line-height:1.6em;
    }
    
nav ul li.link_nav
{   display:inline-block;
    padding-top:8px;
    padding-bottom:8px;
    padding-right:8px;
    padding-left:8px;
    -webkit-transition:background .3s ease;
    -moz-transition:background .3s ease;
    -o-transition:background .3s ease;
    transition:background .3s ease;
    border-style:none;
    }
nav ul li.link_nav:hover,
nav ul li.link_nav:focus
{   background:#eaeaea;
    }
nav ul li.link_nav:active
{   background:#dddddd;
    }
       
.link
{   color:#ffffff;
    font-weight:normal;
    }
/*#description p a
{   color:Red;
    }*/
#description p
{   color:#fafafa;
    }
    
#description p a
 {   color:#fafafa;
     padding-top:5px;
     padding-right:5px;
     padding-left:5px;
     padding-bottom:5px;
     text-decoration:underline;
     -webkit-transition:background .3s ease;
     -moz-transition:background .3s ease;
     -o-transition:background .3s ease;
     transition:background .3s ease;
     }
 #description p a:hover,
 #description p a:focus
 {   background-color:#dddddd;
     color:#222222;
     text-shadow:none;
     cursor:pointer;
     }   
 #description p a:active
 {   background-color:#cdcdcd;
     } 
    
/*
p#sig
 {  font-family: 'JinkyRegular';
    font-size:32pt;
    font-weight:normal;
    margin-left:60%;
    margin-top:20px;
    margin-bottom:10px;
    }
 */    

.blue_text
{   color:#2468a2;
    }
    
.percent_sign
{   font-size:24pt;
    }
   
#footer p, #footer p a
{   font-size:10pt;
    font-weight:lighter;
    color:#999999;
    cursor:pointer;
    }   
#footer p a:link
{   color:#999999;
    }
#footer p a:visited
{   color:#999999;
    }
#footer p a:hover,
#footer p a:focus
{   color:#444444;
    font-weight:normal;
    cursor:pointer;
    }
#footer p a:active
{   color:#000000;
    cursor:pointer;
    }
    
/* SELECTORS BEGINS ----------------- */
::-moz-selection
{   background: #f76eab;
    color: white;
    text-shadow: none;
    }

::selection
{   background: #f76eab;
    color: white;
    text-shadow: none;
    }

img::selection
{   background: transparent;
    }

img::-moz-selection
{   background: transparent;
    }
    
/*BUTTONS --------------------------------- */
.button
{   display:block;
    color:#ffffff;
    height:35px;
    border:1px solid #1f5e93;
    text-align:center;
    margin-right:auto;
    margin-left:auto;
    margin-top:20px;
    background-color:#2468a2;
    cursor:pointer;
    }
    
.button:hover,
.button:focus
{   background-color:#2c70ab;
    }    
.button:active
{   background-color:#20629b;
    }
    
/*CSS BEGINS --------------------------------- */
html, body 
{   background-color:#ffffff;
    height:100%;
    }
    
.wrapper 
{   min-height:100%;
    min-width:960px;
    height:auto !important;
    height:100%;
    margin:0 auto -4em;
    }
    
#header
{   display:block;
    width:920px;
    min-width:920px;
    height:63px;
    margin-left:auto;
    margin-right:auto;
    margin-bottom:20px;
    padding-top:20px;
    padding-left:20px;
    padding-right:20px;
    }
            
#header_logo
{   display:block;
    float:left;
    }
    
nav
{   display:block;
    width:auto;
    height:63px;
    margin-top:15px;
    float:right;
    }
    
nav ul li img
{   margin: 0 9px -1px 0;
    }
       
#section_main_bg
{   width:100%;
	min-width:960px;
/*    background-image:url('images/bg_grey.jpg');
    background-repeat:;*/
    background-color:#232323;
    height:497px;
    border-style:solid;
    border-color:#cccccc;
    border-top-width:1px;
    border-bottom-width:1px;
    border-right:none;
    border-left:none;
    }

#section_main
{   clear: both;
    display:block;
/*  background-image:url('images/main_bg.jpg');*/
    height:497px;
    width:920px;
    min-width:920px;
    margin-left:auto;
    margin-right:auto;
    padding-left:20px;
    padding-right:20px;
    }
    
#section_main #description
{   display:block;
    position:relative;
    width:600px;
    height:auto;
    float:left;
    margin-top:80px;
    text-shadow:0px 1px #000000;
    }
    
#section_main #description img
{   display:block;
    margin-bottom:20px;
    }
    
#hire_button
{   display:block;
    float:right;
    margin-top:275px;
    margin-right:90px;
    }
#hire_button:hover
{	margin-top:274px;
	}
#hire_button:active
{	margin-top:276px;
	}    
	
#section_skills
{   display:block;
    width:920px;
    height:275px;
    min-width:920px;
    margin-left:auto;
    margin-right:auto;
    margin-top:75px;
    clear:both;
    }
    
#section_tools
{   display:block;
    width:920px;
    height:200px;
    min-width:920px;
    margin-left:auto;
    margin-right:auto;
    margin-top:25px;
    clear:both;   
    }

#section_skills h3,
#section_tools h3
{   text-align:center;
    } 

#section_skills .skills_icons_wrapper
{   display:block;
    float:left;
    width:200px;
    height:200px;
    margin-top:40px;
    margin-left:53px;
    margin-right:53px;
    text-align:center;
    }
        
#section_tools .tools_wrapper
{   display:block;
    width:355px;
    height:100px;
    float:left;
    margin-left:70px;
    margin-top:70px;
    }
    
 #section_tools #tools_wrapper_left
 {  margin-right:45px;
     }

#section_tools .tools_text_wrapper
{   display:block;
    float:left;
    }

#section_tools .tools_chart_wrapper span
{   display:block;
    margin-left:100px;
    margin-top:10px;
    }
    
#section_tools .tools_text_wrapper p
{   margin-top:13px;
    }
      
#section_link
{   display:block;
    width:189px;
    height:45px;
    margin-top:75px;
    margin-bottom:100px;
    margin-right:auto;
    margin-left:auto;
    }

#section_link .contact_button
{   display:inline-block;
    background-image:url('images/contact_link.png');
    background-repeat:no-repeat;
    background-position:0px 0px;
    height:41px;
    width:189px;
    margin-right:auto;
    margin-left:auto;
    margin-top:0px;
    cursor: pointer;
    outline: transparent solid 0px;
    }  
#section_link .contact_button:hover,
#section_link .contact_button:focus
{   background-position:0px -41px;
    }
#section_link .contact_button:active
{   background-position:0px 0px;
    }

#footer
{   display:block;
    background-color:#eeeeee;
    width:100%;
    min-width:960px;
    height:150px;
    margin-top:20px;
    border-style:solid;
    border-color:#cccccc;
    border-top-width:1px;
    border-right:none;
    border-left:none;
    border-bottom:none;
    clear:both;
    }
    
.push 
{   height:4em;
    }

#footer #section_footer
{   display:block;
    width:920px;
    height:auto;
    margin-top:25px;
    margin-right:auto;
    margin-left:auto;
    }

#footer #section_footer #about
{   display:block; 
    float:left;
    }

#section_footer #links_social
{   display:inline-block;
    height:35px;
    width:auto;
    float:right;
    }

#section_footer #links_social a.icon_social
{   display:inline-block;
    width:35px;
    height:35px;
    margin-right:10px;
    }
        
#section_footer #links_social #facebook,
#section_footer #links_social #twitter,
#section_footer #links_social #dribbble
{   background-repeat:no-repeat;
    background-position:0px 0px;
    }
#section_footer #links_social #facebook:hover,
#section_footer #links_social #facebook:active,
#section_footer #links_social #twitter:hover,
#section_footer #links_social #twitter:active,
#section_footer #links_social #dribbble:hover,
#section_footer #links_social #dribbble:active
{   background-position:0px -35px;
    }
#section_footer #links_social #facebook
{   background-image:url('images/icon_fb.png');
    }   
#section_footer #links_social #twitter
{   background-image:url('images/icon_tw.png');
    }
#section_footer #links_social #dribbble
{   background-image:url('images/icon_db.png');
    }

/* PORTFOLIO SECTION BEGINS ---------------------------------- */
/*FONTS --------------------------------- */
 #portfolio_wrapper .project .desc a
 {   color:#2468a2;
     padding-top:5px;
     padding-right:5px;
     padding-left:5px;
     padding-bottom:5px;
     -webkit-transition:background .3s ease;
     -moz-transition:background .3s ease;
     -o-transition:background .3s ease;
     transition:background .3s ease;
     }
 #portfolio_wrapper .project .desc a:hover
 {   background:#dddddd;
     color:#000000;
     text-shadow:none;
     cursor:pointer;
     }   
 #portfolio_wrapper .project .desc a:active
 {   background:#cdcdcd;
     } 
     
/*CSS BEGINS --------------------------------- */
/*
nav ul li#portfolio_link
{   border-style:solid;
    border-color:#2468a2;
    border-bottom-width:2px;
    border-right:none;
    border-left:none;
    border-top:none;
    padding-bottom:8px;
    }
*/
#heading_bg
{   width:100%;
    height:145px;
/*    background-image:url('images/header_shadow.png');
    background-repeat:repeat-x;*/
    }
    
#heading
{   display:block;
    width:920px;
    padding-top: 30px;
    margin-left:auto;
    margin-right:auto;
    text-align:center;
    }

#portfolio_wrapper
{   display:block;
    width:920px;
    height:auto;
    margin-left:auto;
    margin-right:auto;
    padding-left:20px;
    padding-right:20px;
    clear:both;
    }
    
#portfolio_wrapper .project
{   display:block;
    background-color:Red;
    clear:both;
    }
    
#portfolio_wrapper .project .desc
{   display:block;
    width:300px;
    float:left;
    }
    
#portfolio_wrapper .project .desc p
{   padding-top:20px;
    padding-bottom:20px;
    margin-top:30px;
    border-style:solid;
    border-color:#dddddd;
    border-top-width:1px;
    border-right:none;
    border-left:none;
    border-bottom:none;
    }
    
#portfolio_wrapper .project .preview
{   display:block;
    width:600px;
    margin-left:20px;
    margin-bottom:60px;
    float:right;
    }
    
#portfolio_wrapper .project .preview img
{   display:block;
    background-color:White;
    margin-bottom:20px;
    border-style:solid;
    border-color:#dddddd;
    border-top:1px;
    border-right:1px;
    border-left:1px;
    border-bottom:1px;
    }  
                 
/* CONTACT SECTION BEGINS --------------------------------- */
#contact_wrapper
{   display:block;
    width:920px;
    height:auto;
    margin-left:auto;
    margin-right:auto;
    padding-left:20px;
    padding-right:20px;
    clear:both;
    }
#contact_wrapper #form_wrapper_top
{   display:block;
    width:672px;
    height:7px;
    margin-left:auto;
    margin-right:auto;
    background-image:url('images/form_top.png');
    }
        
	#form_wrapper #contact_email
	{	display:block;
		float:right;
		margin-top:10px;
		}
	
#contact_wrapper #form_wrapper
{   display:block;
    width:672px;
    height:500px;
    margin-left:auto;
    margin-right:auto;
    border-style:solid;
    border-color:#dddddd;
    border-top:none;
    border-right-width:1px;
    border-left-width:1px;
    border-bottom:none;
    }
#contact_wrapper #form
{   padding-top:25px;
    padding-bottom:25px;
    padding-right:25px;
    padding-left:25px;
    position:relative;
    }
    
#contact_wrapper #form_wrapper_bottom
{   display:block;
    width:672px;
    height:7px;
    margin-left:auto;
    margin-right:auto;
    margin-bottom:100px;
    background-image:url('images/form_bottom.png');
    }
    
#form_wrapper input.text_input,
#form_wrapper textarea.text_input
{   display:block;
    width:300px;
    font-family: 'DroidSerifRegular';
    font-size: 12pt;
    font-weight:normal;
    color:#444444;
    letter-spacing:.05em;
    line-height:1.6em;
    padding:10px 10px 10px 10px;
    margin-bottom:10px;
    border:1px;
    border-color:#cccccc;
    border-style:solid;
/*  -webkit-border-radius:3px;
    -moz-border-radius:3px;
    -o-border-radius:3px;
    border-radius:3px;*/
    }
#form input:focus,
#form textarea:focus
{   border: #2468a2 solid 1px;
    }
        
#form_wrapper #message
{   width:600px;
    height:250px;
    }
    
#form_wrapper #form label.error
{   
    }
    
#form_wrapper #form #name_error
{   top:40px;
    left:240px;
    }
    
#form_wrapper #form #email_error
{   display:inline;
    position:absolute;
    left:365px;
    top:100px;
    color:#f76eab;
    }
    
#form_wrapper #form .button
{   width:180px;
    }
    
/*--Confirmation Page --------------------------------- */
#contact_wrapper #form_wrapper #success
{   display:none;
    width:672px;
    height:495px;    
    margin-left:auto;
    margin-right:auto;
    text-align:center;
   }

#contact_wrapper #form_wrapper #success img
{   margin-top:120px;
    margin-bottom:25px;
    }
 
/*--Maintenance --------------------------------- */
/*#temp_wrapper
{   text-align:center;
    width:600px;
    margin-top:100px;
    margin-bottom:;
    margin-left:auto;
    margin-right:auto;
    }
        
#temp_header
{   margin-bottom:50px;
    }
    
#temp_header img
{   margin-bottom:25px;
    } 

#temp_logo
{   margin-top:100px;
    }
    
 #temp_links
 {   color:#2468a2;
     padding-top:65px;
     padding-right:5px;
     padding-left:5px;
     padding-bottom:5px;
     -webkit-transition:background .3s ease;
     -moz-transition:background .3s ease;
     -o-transition:background .3s ease;
     transition:background .3s ease;
     }
 #temp_links a:hover
 {   background-color:#dddddd;
     color:#000000;
     text-shadow:none;
     cursor:pointer;
     }   
 #temp_links a:active
 {   background-color:#cdcdcd;
     }  

body#temp_body
{   background-image:url('images/caution.png');
    background-position:0 0;
    background-repeat:no-repeat;
    }      
*/
